<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pyrotemplar.triviamaster" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.HomeScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HighScoreActivity"
            android:label="@string/title_activity_high_score" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".Activities.ProfilesActivity"
            android:label="@string/title_activity_profiles" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".Activities.QuestionsActivity"
            android:label="@string/title_activity_questions" >
        </activity>
        <activity
            android:name=".Activities.FinalScoreActivity"
            android:label="@string/title_activity_final_score" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeScreenActivity" />
        </activity>
    </application>

</manifest>
